# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# VSCode and PyCharm config
.vscode/
.idea/

# Environment files
.env
*.env
.venv/
venv/
env/

# System files
.DS_Store
Thumbs.db

# Output directories
reports/
html/


# Data profiling reports
*.html
*.json

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp


# IPython history
.history
.ipython/

# MacOS / Linux hidden files
._*
.Spotlight-V100
.Trashes

# Python dependency files (optional)
poetry.lock
Pipfile.lock

*.pickle
*.zip

nltk_data/